extends ../layouts/page.pug
block title
  h2 #{title}
block pageContent
  if add
    a(href=`${add}`)
      button.uk-margin-remove.uk-button.uk-button-secondary.uk-button-small.uk-margin-top Agregar nuevo
  table.uk-table.uk-table-divider.uk-margin-top
    thead
      tr
        th Usuario
        th Fecha
        th Total
        th Enviado
        th Actions
    tbody
      if pedidos.length
        each p in pedidos
          tr(id=`${p.id}`)
            td #{p.userId}
            td #{p.created}
            td $#{p.total}
            td#enviado #{p.enviado}
            td
              button.uk-margin-remove.uk-button.uk-button-secondary.uk-button-small.uk-margin-top(onclick=`sendOrder('${p.id}')`) Enviar
      else 
        tr 
          td No hay pedidos
block scripts
  script(src="/static/js/general.js")
  script(src="/static/js/home.js")

      
      