extends ../layouts/page.pug
block title
  h2 #{title}
block pageContent
  if add
    a(href=`${add}`)
      button.uk-margin-remove.uk-button.uk-button-secondary.uk-button-small.uk-margin-top Agregar nuevo
  table.uk-table.uk-table-divider.uk-margin-top
    thead
      tr
        th Id
        th Nombre
        th Email
        th Telefono
    tbody
      if users.length
        each user in users
          tr
            td #{user.id}
            td #{user.name}
            td #{user.email}
            td #{user.phone}
      else
        tr 
          td No hay productos     
      